<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>value:{{value}}</p>
  <button (click)="increment()">+</button>
  <br>
  <button (click)="decrement()">-</button>

  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let elt of myArray">
        <span *ngIf="elt !== 3">pas 3</span>
        {{elt }} : <app-my-component></app-my-component>
      </div>
      <ion-list>
        <ion-item *ngFor="let people of peoples">
          <h1 appYellow="blue">{{people.name | appCamelCase}}</h1>
          <h2 [ngClass]="{'green-text':people.gender === 'female','blue-text':people.gender === 'male','grey-text':people.gender === 'n/a'}">{{people.gender}}</h2>
          <p>{{people.height}} / {{people.mass}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
